<div class="container mt-5 mb-5">
  <h1>Lista de Pacientes</h1>
  <hr class="mb-5">
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Gênero</th>
          <th scope="col">Telefone</th>
          <th scope="col">Remédio</th>
        </tr>
      </thead>
      <tbody *ngFor="let paciente in listaPacientes$">
        <tr>
          <th scope="row"> {{ paciente.id }} </th>
          <td>{{ paciente.nome }}</td>
          <td>{{ paciente.genero }}</td>
          <td>{{ paciente.telefone }}</td>
          <td>{{ paciente.remedio.nome }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
