<div class="container mt-5 mb-5">
  <h1>Lista de Remédios</h1>
  <hr class="mb-5">
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Status</th>
          <th scope="col">Data do Término da medicação</th>
        </tr>
      </thead>
      <tbody *ngFor="let remedio of listaRemedios$ | async">
        <tr>
          <th scope="row"> {{ remedio.idRemedio }} </th>
          <td>{{ remedio.nomeRemedio }}</td>
          <td>{{ remedio.statusRemedioUso }}</td>
          <td>{{ remedio.deadLineRemedio | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
